.divContent{
    padding-top:2%;
}
.listaClientes{
    display:flex;
    flex-direction: column;
    text-align: center;
}
.trHeader{
    background-color: black;
}
th{
    color: white;
}

a, a:visited { text-decoration: none; }

.fa-angles-left, .fa-angles-right, .listaText, a{
    color:#1A5EB7;
}

.liActive{
    background-color: #0D6EFD;
	color: #fff;
}
.paginationContainer{
    display: flex;
    align-self: center;
}
.buttonCadastrarCliente{
    margin-bottom: 0.5%;
}
.clientesHeader{
    display:flex;
    flex-direction: row;
}
.listaText{
    margin: auto;

}