.card-header{
    margin-top:2%;
}
a, a:visited { text-decoration: none; }
.liActive{
    background-color: #0D6EFD;
	color: #fff;
}
.paginationContainer{
    display: flex;
    align-self: center;
}
