
.wrapper{
    display: flex;
}
.containerReceita{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}
.containerDespesa{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.containerBotoesReceita, .containerBotoesDespesa{
    display: flex;
    justify-content: space-around;
    width: 65%;
    padding-bottom: 5%;
}
.containerReceita, .containerDespesa{
    padding-top: 2%;
}

.buttonReceita, .buttonDespesa, .buttonHistoricoReceita, .buttonHistoricoDespesa {
    height: 5em;
    width: 10em;
}

.trHeader{
    background-color: black;
}
th{
    color: white;
}