h1{
    text-align: center;
    padding-top:1%;
}

.container{
    padding-top: 3%;
}

div div .border-left-primary{
    border-left: 4px solid #4e73df;
}

.card:hover{
    background-color: #BFE1F1;
}

.cardWrapper{
    color: inherit;
    text-decoration: none;
}