.divContent{
    padding-top:2%;
}
.listaPacientes{
    display:flex;
    flex-direction: column;
    text-align: center;
}
.trHeader{
    background-color: black;
}
th{
    color: white;
}

.adicionarPacientes h2{
    text-align: center;
}

a, a:visited { text-decoration: none; }