*{font-family: 'Merriweather', serif;}

.navbarPrincipal{
    background-color: #202A37 !important;
    width:100%;
}

.nav-link:hover{
    background-color: #ffffff26;
    border-radius: 3px;
}
.red{
    color: #FE1F0E;
    font-size:0.9em;
}
.nav-item{
    margin-left:1.5vw;
}

#excluirSection{
    margin-left: 1.5%;
    margin-top: 1.5%;
}
.trHeader{
    background-color: #202A37 !important;
}
