<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    {% load static %}
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/financeiro.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    {% include 'navbar.html' %} 
    <div class="modal fade" id="modalAdicionarEvento" tabindex="-1" aria-labelledby="modalAdicionarEvento" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Adicionar novo evento</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body row">
            <form action="{% url 'cadastrar_usuario' %}" method="POST">
            {% csrf_token %}
              <div class="mb-3">
                <label for="name" class="form-label">Paciente</label>
                <input type="text" class="form-control">
              </div>
              <div class="mb-3">
                <label for="date" class="form-label">Data</label>
                <input type="date" class="form-control">
              </div>
              <div class="mb-3">
                <label for="time" class="form-label">Horário</label>
                <input type="time" class="form-control">
              </div>
                
          <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="Enviar">
            <input type="button" class="btn btn-secondary" data-bs-dismiss="modal" value="Fechar">
          </div>
        </form>
        </div>
      </div>
    </div>
    </div>
    <button type="button" class="btn btn-success col-lg-2 col-4 " data-bs-toggle="modal" data-bs-target="#modalAdicionarEvento">Adicionar Evento</button>
  <div id='calendar'>


  </div>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.32/moment-timezone-with-data-10-year-range.min.js"></script>
  <script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
  ></script>
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.js'></script>
  <script src="{% static 'js/agenda.js' %}"></script>
  </body>
</html>
