<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    {% load static %}
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/editar.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/financeiro.css' %}"/>
  </head>
  <body>
    <nav class="navbarPrincipal navbar navbar-expand-lg navbar-dark navbarPrincipal">
      <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
              <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link active" href="/clientes">Clientes</a>
          </li>
          <li class="nav-item">
              <a class="nav-link active" href="/financeiro">Financeiro</a>
          </li>
          <li class="nav-item">
              <a class="nav-link active" href="/agenda">Agenda</a>
          </li>
          </ul>
      </div>
      </div>
    </nav>
    <div class="editContainer">
        <form class="editarForm" action="." method="POST">
            {% csrf_token %}
            <div class="mb-3">
              <label for="valorDespesa" class="form-label">Valor</label>
              <input type="number" value="{{despesa.value|stringformat:'.2f'}}" step="0.01" class="form-control" id="valorDespesa" aria-describedby="valorDespesa" name="valorDespesa">
            </div>
            <div class="mb-3">
              <label for="descricaoDespesa" class="form-label">Descrição</label>
              <input type="text" value ="{{despesa.desc}}" class="form-control" id="descricaoDespesa" aria-describedby="descricaoDespesa" name="descricaoDespesa">
            </div>
            <div class="Buttons">
              <input type="submit" class="btn btn-primary" value="Salvar" />
              <input type="button" class="btn btn-primary" onclick="window.location.href='/financeiro?pg=1';" value="Voltar"/>
              <a href="{% url 'confirmar_exclusao_despesa' despesa.id %}" id="delete-user-link" data-user-id="{{ despesa.id }}">
                <input type="button" class="btn btn-danger" value="Excluir" />
              </a>
            </div>
        </form>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
  </html>