<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    {% load static %}
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/financeiro.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/financeiro.css' %}"/>
  </head>
  <body>
    {% include 'navbar.html' %} 
  <div class="modal fade" id="modalReceita" tabindex="-1" aria-labelledby="modalReceita" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">Adicionar nova receita</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{% url 'cadastrar_transacao' %}" method="POST" name="formReceita">
            {% csrf_token %} 
            <div class="mb-3">
              <label for="valorReceita" class="form-label">Valor<span class="red">*</span></label>
              <input type="number" step="0.01" class="form-control" id="valorReceita" name="valorReceita" aria-describedby="valorReceita">
            </div>
            <div class="mb-3">
              <label for="profissionalReceita" class="form-label">Profissional</label>
              <input type="text" class="form-control" id="profissionalReceita" name="profissionalReceita" aria-describedby="profissionalReceita">
            </div>
            <div class="mb-3">
              <label for="descricaoReceita" class="form-label">Descrição</label>
              <input type="text" class="form-control" id="descricaoReceita" name="descricaoReceita" aria-describedby="descricaoReceita">
            </div>
            <div>
              <input type="checkbox" id="pagoReceita" name="pagoReceita">
              <label for="pagoReceita">Pago</label>
            </div>
          </div>
          <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="Salvar">
            <input type="button" class="btn btn-secondary" data-bs-dismiss="modal" value="Fechar">
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modalDespesa" tabindex="-1" aria-labelledby="modalDespesa" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Adicionar nova despesa</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{% url 'cadastrar_transacao' %}" method="POST" name="formDespesa">
            {% csrf_token %}
            <div class="mb-3">
              <label for="valorDespesa" class="form-label">Valor<span class="red">*</span></label>
              <input type="number" step="0.01" class="form-control" id="valorDespesa" aria-describedby="valorDespesa" name="valorDespesa">
            </div>
            <div class="mb-3">
              <label for="descricaoDespesa" class="form-label">Descrição</label>
              <input type="text" class="form-control" id="descricaoDespesa" aria-describedby="descricaoDespesa" name="descricaoDespesa">
            </div>
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-primary" value="Salvar">
          <input type="button" class="btn btn-secondary" data-bs-dismiss="modal" value="Fechar">
        </div>
      </form>
      </div>
    </div>
  </div>
    <div class="wrapper">
      <div class="containerFinanceiro container card">
        <div class="card-body">
          <button type="button" class="btn btn-success buttonReceita" data-bs-toggle="modal" data-bs-target="#modalReceita"><i class="fa-solid fa-plus"></i> Nova Receita</button>
          <button type="button" class="btn btn-danger buttonDespesa" data-bs-toggle="modal" data-bs-target="#modalDespesa"><i class="fa-solid fa-minus"></i> Nova Despesa</button>
          <div class="card-header cardContent">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-item" role="presentation">
                {% if tab_shown == "receita" %}
                <button class="nav-link active" id="pills-receitas-tab" data-bs-toggle="pill" data-bs-target="#pills-receitas" type="button" role="tab" aria-controls="pills-receitas" aria-selected="true">Receitas</button>
                {% else %}
                <button class="nav-link" id="pills-receitas-tab" data-bs-toggle="pill" data-bs-target="#pills-receitas" type="button" role="tab" aria-controls="pills-receitas" aria-selected="true">Receitas</button>
                {% endif %}
              </li>
              <li class="nav-item" role="presentation">
                {% if tab_shown == "despesa" %}
                <button class="nav-link active" id="pills-despesas-tab" data-bs-toggle="pill" data-bs-target="#pills-despesas" type="button" role="tab" aria-controls="pills-despesas" aria-selected="false">Despesas</button>
                {% else %}
                <button class="nav-link" id="pills-despesas-tab" data-bs-toggle="pill" data-bs-target="#pills-despesas" type="button" role="tab" aria-controls="pills-despesas" aria-selected="false">Despesas</button>
                {% endif %}
              </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
              {% if tab_shown == "receita" %}
              <div class="tab-pane fade active show" id="pills-receitas" role="tabpanel" aria-labelledby="pills-receitas-tab">
              {% else %}
              <div class="tab-pane fade" id="pills-receitas" role="tabpanel" aria-labelledby="pills-receitas-tab">
              {% endif %}
                <div>
                  <table class="table table-striped table-hover">
                    <tr class="trHeader">
                      <th>Data</th>
                      <th>Valor</th>
                      <th>Profissional</th>
                      <th>Descrição</th>
                      <th>Pago</th>
                      <th></th>
                    </tr>
                    {% for r in receita %}
                    <tr>
                      <td>{{r.date|date:"d/m/Y, G:i:s"}}</td>
                      <td>{{r.value}}</td>
                      <td>{{r.professional}}</td>
                      <td>{{r.desc}}</td>
                      {% if r.pago == True %}
                      <td>Sim</td>
                      {% elif r.pago == False %}
                      <td>Não</td>
                      {% else %}
                      <td></td>
                      {% endif %}
                      <td><a class="btn btn-primary" href="{% url 'editar_receita' r.id %}">Editar</a></td>
                    </tr>
                    {% endfor %}
                  </table>
                  <div class="paginationContainer">
                    <ul class="pagination">
                    {% if receita.has_previous %}
                    <li class="page-item">
                      <a class="page-link" href="?page=1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                      <a class="page-link" href="?page=1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    {% endif %}
                    {% for i in receita.paginator.page_range %}
                        {% if receita.number == i %}
                            <li class="page-link liActive"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% elif i > receita.number|add:'-5' and i < receita.number|add:'5' %}
                            <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if receita.has_next %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{receita.paginator.num_pages}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                      <a class="page-link" href="?page={{receita.paginator.num_pages}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                    {% endif %}
                  </ul>
                </div>     
                </div>
              </div>
              {% if tab_shown == "despesa" %}
              <div class="tab-pane fade active show" id="pills-despesas" role="tabpanel" aria-labelledby="pills-despesas-tab">
              {% else %}
              <div class="tab-pane fade" id="pills-despesas" role="tabpanel" aria-labelledby="pills-despesas-tab">
              {% endif %}
                <div>
                  <table class="table table-striped table-hover">
                    <tr class="trHeader">
                      <th>Data</th>
                      <th>Valor</th>
                      <th>Descrição</th>
                      <th></th>
                    </tr>
                    {% for d in despesa %}
                    <tr>
                      <td>{{d.date|date:"d/m/Y, G:i:s"}}</td>
                      <td>{{d.value}}</td>
                      <td>{{d.desc}}</td>
                      <td><a class="btn btn-primary" href="{% url 'editar_despesa' d.id %}">Editar</a></td>
                    </tr>
                    {% endfor %}
                  </table>
                  <div class="paginationContainer">
                    <ul class="pagination">
                      {% if despesa.has_previous %}
                      <li class="page-item">
                        <a class="page-link" href="?pg=1" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                      {% else %}
                      <li class="page-item disabled">
                        <a class="page-link" href="?pg=1" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                      {% endif %}
                      {% for i in despesa.paginator.page_range %}
                          {% if despesa.number == i %}
                              <li class="page-link liActive"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                          {% elif i > despesa.number|add:'-5' and i < despesa.number|add:'5' %}
                              <li><a class="page-link" href="?pg={{ i }}">{{ i }}</a></li>
                          {% endif %}
                      {% endfor %}
                      {% if despesa.has_next %}
                      <li class="page-item">
                        <a class="page-link" href="?pg={{despesa.paginator.num_pages}}" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                      {% else %}
                      <li class="page-item disabled">
                        <a class="page-link" href="?pg={{despesa.paginator.num_pages}}" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                      {% endif %}
                    </ul>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'js/financeiro.js' %}"></script>
  </body>
</html>
