<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    {% load static %}
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/financeiro.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        *{font-family: 'Merriweather', serif;}
        nav{background-color: black !important;}
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'css/financeiro.css' %}"/>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark ">
      <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar scroll</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
              <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link active" href="/pacientes">Pacientes</a>
          </li>
          <li class="nav-item">
              <a class="nav-link active" href="/financeiro">Financeiro</a>
          </li>
          <li class="nav-item">
              <a class="nav-link active" href="/agenda">Agenda</a>
          </li>
          </ul>
          <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
          <button type="button" class="btn btn-primary">
              <i class="fas fa-search"></i>
          </button>
          </form>
      </div>
      </div>
  </nav>
    <div class="wrapper">
      <div class="container-fluid containerReceita" >
        <div class="containerBotoesReceita">
          <button type="button" class="btn btn-success buttonReceita" data-bs-toggle="modal" data-bs-target="#modalReceita"><i class="fa-solid fa-plus"></i> Nova Receita</button>
          <button type="button" class="btn btn-success buttonHistoricoReceita"><i class="fa-solid fa-calendar-days"></i> Histórico das Receitas</button>
        </div>
        <div class="modal fade" id="modalReceita" tabindex="-1" aria-labelledby="modalReceita" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Adicionar nova receita</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="{% url 'cadastrar_transacao' %}" method="POST" name="formReceita">
                  {% csrf_token %} 
                  <div class="mb-3">
                    <label for="valorReceita" class="form-label">Valor</label>
                    <input type="number" step="0.01" class="form-control" id="valorReceita" name="valorReceita" aria-describedby="valorReceita">
                  </div>
                  <div class="mb-3">
                    <label for="profissionalReceita" class="form-label">Profissional</label>
                    <input type="text" class="form-control" id="profissionalReceita" name="profissionalReceita" aria-describedby="profissionalReceita">
                  </div>
                  <div class="mb-3">
                    <label for="descricaoReceita" class="form-label">Descrição</label>
                    <input type="text" class="form-control" id="descricaoReceita" name="descricaoReceita" aria-describedby="descricaoReceita">
                  </div>
                  <div>
                    <input type="checkbox" id="pagoReceita" name="pagoReceita">
                    <label for="pagoReceita">Pago</label>
                  </div>
                </div>
                <div class="modal-footer">
                  <input type="submit" class="btn btn-primary" value="Salvar">
                  <input type="button" class="btn btn-secondary" data-bs-dismiss="modal" value="Fechar">
                </div>
              </form>
            </div>
          </div>
        </div>
          <div class="col-md-6 listaReceita">
            <div><h2 class="text-primary">Receita Mensal</h2></div>
            <table class="table table table-striped table-hover">
              <tr class="trHeader">
                <th>Data</th>
                <th>Valor</th>
                <th></th>
              </tr>
              {% for r in receita %}
              <tr>
                <td>{{r.date}}</td>
                <td>{{r.value}}</td>
                <td>Mais Detalhes</td>
              </tr>
              {% endfor %}
            </table>
          </div>
      </div>
      <div class="container-fluid containerDespesa">
        <div class="containerBotoesDespesa">
          <button type="button" class="btn btn-danger buttonDespesa" data-bs-toggle="modal" data-bs-target="#modalDespesa"><i class="fa-solid fa-minus"></i> Nova Despesa</button>
          <button type="button" class="btn btn-danger button buttonHistoricoDespesa"><i class="fa-solid fa-calendar-days"></i> Histórico das Despesas</button>
      </div>
        <div class="modal fade" id="modalDespesa" tabindex="-1" aria-labelledby="modalDespesa" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Adicionar nova despesa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="{% url 'cadastrar_transacao' %}" method="POST" name="formDespesa">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="valorDespesa" class="form-label">Valor</label>
                    <input type="number" step="0.01" class="form-control" id="valorDespesa" aria-describedby="valorDespesa" name="valorDespesa">
                  </div>
                  <div class="mb-3">
                    <label for="profissionalDespesa" class="form-label">Profissional</label>
                    <input type="text" class="form-control" id="profissionalDespesa" aria-describedby="profissionalDespesa" name="profissionalDespesa">
                  </div>
                  <div class="mb-3">
                    <label for="descricaoDespesa" class="form-label">Descrição</label>
                    <input type="text" class="form-control" id="descricaoDespesa" aria-describedby="descricaoDespesa" name="descricaoDespesa">
                  </div>
              </div>
              <div class="modal-footer">
                <input type="submit" class="btn btn-primary" value="Salvar">
                <input type="button" class="btn btn-secondary" data-bs-dismiss="modal" value="Fechar">
              </div>
            </form>
            </div>
          </div>
        </div>
        <div class="col-md-6 listaReceita">
          <div><h2 class="text-primary">Despesa Mensal</h2></div>
          <table class="table table table-striped table-hover">
            <tr class="trHeader">
              <th>Data</th>
              <th>Valor</th>
              <th></th>
            </tr>
            {% for d in despesa %}
            <tr>
              <td>{{d.date}}</td>
              <td>{{d.value}}</td>
              <td>Mais Detalhes</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="../static/js/index.js"></script>
  </body>
</html>
