<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    {% load static %}
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        *{font-family: 'Merriweather', serif;}
        nav{background-color: black !important;}
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'css/paciente.css' %}"/>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark ">
      <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
              <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link active" href="/pacientes">Pacientes</a>
          </li>
          <li class="nav-item">
              <a class="nav-link active" href="/financeiro">Financeiro</a>
          </li>
          <li class="nav-item">
              <a class="nav-link active" href="/agenda">Agenda</a>
          </li>
          </ul>
          <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
          <button type="button" class="btn btn-primary">
              <i class="fas fa-search"></i>
          </button>
          </form>
      </div>
      </div>
  </nav>
    <div class="container-fluid divContent">
      <div class="row">
        <div class="col-md-4"></div>
      </div>
      <div class="row">
        <div class="col-md-4 adicionarPacientes">
          <div><h2 class="adicionarText">Adicionar Paciente</h2></div>
          <div class="row">
            <form action="{% url 'cadastrar_usuario' %}" method="POST">
              {% csrf_token %}
              <div class="mb-3">
                <label for="patientName" class="form-label"
                  >Nome do Paciente:</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="patientName"
                  aria-describedby="nome"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="patientPhone" class="form-label"
                  >Telefone do Paciente:</label
                >
                <input
                  type="tel"
                  class="form-control"
                  name="patientPhone"
                  aria-describedby="telefone"
                />
              </div>
              <div class="mb-3">
                <label for="patientCpf" class="form-label"
                  >CPF do Paciente:</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="patientCpf"
                  aria-describedby="CPF"
                />
              </div>
              <div class="mb-3">
                <label for="patientCep" class="form-label"
                  >CEP do Paciente:</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="patientCep"
                  aria-describedby="CEP"
                />
              </div>
              <div class="mb-3">
                <label for="patientAddress" class="form-label"
                  >Endereço do Paciente:</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="patientAddress"
                  aria-describedby="endereço"
                />
              </div>
              <div class="mb-3">
                <label for="patientBirth">Data de Nascimento:</label>
                <input name="patientBirth" class="form-control" type="date" />
              </div>
              <p>Gênero:</p>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="patientGender"
                  value="M"
                  id="RadioButtonMale"
                />
                <label class="form-check-label" for="flexRadioDefault1">
                  Masculino
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="patientGender"
                  value="F"
                  id="RadioButtonFemale"
                />
                <label class="form-check-label" for="flexRadioDefault2">
                  Feminino
                </label>
              </div>
              <input type="submit" class="btn btn-primary" value="Enviar">
            </form>
          </div>
        </div>
        <div class="col-md-8 listaPacientes">
          <div><h2 class="listaText">Lista de Pacientes</h2></div>
          <table class="table table table-striped table-hover">
            <tr class="trHeader">
              <th>Nome</th>
              <th>Telefone</th>
              <th>CPF</th>
              <th>CEP</th>
              <th>Endereço</th>
              <th>Data de Nascimento</th>
              <th>Gênero</th>
            </tr>
            {% for paciente in pacientes %}
            <tr>
              <td>
                <a href="{% url 'editar_usuario' paciente.id %}">{{paciente.name}}</a>
              </td>
              <td>{{paciente.phone}}</td>
              <td>{{paciente.cpf}}</td>
              <td>{{paciente.cep}}</td>
              <td>{{paciente.address}}</td>
              <td>{{paciente.birthDate}}</td>
              <td>{{paciente.gender}}</td>
            </tr>
            {% endfor %}
          </table>
          <div class="paginationContainer">
            {% if pacientes.has_previous %}
            <span class="paginationFirst"><a href="?page=1">1...</a></span>
            <a href="?page={{pacientes.previous_page_number}}"><i class="fa-solid fa-angles-left"></i></a>
            {% endif %}
            <span class="paginationText">Página {{pacientes.number}} de {{pacientes.paginator.num_pages}}</span>
            {% if pacientes.has_next %}
            <a href="?page={{pacientes.next_page_number}}"><i class="fa-solid fa-angles-right"></i></a>  
            <span class="paginationLast"><a href="?page={{pacientes.paginator.num_pages}}">...{{pacientes.paginator.num_pages}}</a></span>     
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
  </body>
</html>
